@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: urbanist;
}


.cardfront{
    position: absolute;
    height: 100%;
    width: 100%;
   backface-visibility: hidden;
    background-color: rgba(0, 0, 255, 0.842);
    color:antiquewhite;
  
  }
  .cardback{
    position: absolute;
    height: 100%;
    width: 100%;
   backface-visibility: hidden;
    background-color: blue;
    color: crimson;
    transform: rotateY(180deg);
  }
  
  .card:hover{
    transform: rotateY(180deg);
  }
  
  .maincard{
    position: relative;
    height: 250px;
    width: 350px;
   
  }
  
  .card{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: yellow;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  
  .pop{
    display: none;
   margin: 1.5rem;
}

.animate{
  flex-wrap: nowrap;
  overflow: hidden;
 }
 
 .slide{
   display: flex;
   animation: slider 25s linear infinite ;
 }
 
 
 @keyframes slider {
   from{
     transform: translate(0);
   }
   to{
     transform: translate(-100%);
   }
   
 }
 


  @media (width < 1200px) {

    .pop{
        display: inline-block;
        text-align: end;
    }
    
   .close{
    display: none;
   }
   .show{
    position:absolute;
    z-index: 1;
    top:6.5rem;
    left:0;
    background-color: black;
    width: 100%;
   }

   .show ul{
    display: flex;
    flex-direction: column;
    align-items: center;

   }
  
    
}



